
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.customDividerStyle  {
  height: 10px;
  border: none;
  font-size: 24px;
  margin-bottom: 60px;
  margin-top: 40px;
};


  .custom-button:hover {
    background-color: #fff !important;
    color: #000 !important;
  }

  .custom-button:active {
    background-color: #fff !important;
    color: #000 !important;
  }






  @font-face {
    font-family: "ChilankaRegular";
    src: local("ChilankaRegular"),
     url("./assets/fonts/Chilanka-Regular.ttf") format("truetype");
    font-weight: bold;
   }

   @font-face {
    font-family: "PlaypenSansVariableFont_wght";
    src: local("PlaypenSansVariableFont_wght"),
     url("./assets/fonts/PlaypenSans-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
   }
   @font-face {
    font-family: "NunitoVariableFont_wght";
    src: local("NunitoVariableFont_wght"),
     url("./assets/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
   }

   
